<div class="footer">
    <!-- <div class="container">
        <p>place for footer</p>
        { <ul>
            <li class="navlink">
                <Link to="/">Terms of service (Terms of Use)</Link>
            </li>
            <li class="navlink">
                <Link to="/">GDPR (Do Not Sell My Personal Information)</Link>
            </li>
            <li class="navlink">
                <Link to="/about">Privacy Policy (Notice)</Link>
            </li>
        </ul> }
    </div>  -->
    <div class="RowRight">
    <a href="/faq">FAQ</a>&nbsp;|<!-- Legal &amp; Disclaimer | --> email: worldvirtualraces@gmail.com | &copy; 2024 RaceTrophies.online
    </div> 
</div>
<script src="/js/ethers-integration.js"></script>