<!-- <div class="footer">
    <div class="container">
        <p>place for footer</p>
        { <ul>
            <li class="navlink">
                <Link to="/">Roadmap</Link>
            </li>
            <li class="navlink">
                <Link to="/">Terms of service (Terms of Use)</Link>
            </li>
            <li class="navlink">
                <Link to="/">GDPR (Do Not Sell My Personal Information)</Link>
            </li>
            <li class="navlink">
                <Link to="/about">Privacy Policy (Notice)</Link>
            </li>
        </ul> }
    </div> 
    <div class="RowRight">
    <a href="/faq">FAQ</a>&nbsp;| Legal &amp; Disclaimer |  email: worldvirtualraces@gmail.com | &copy; 2024 RaceTrophies.online
    </div> 
</div> -->


<div class="footer">
    <!-- <div class="context"> -->
        <!-- <div class="mt-5 pt-5 pb-5 footer"> -->
          <div class="row">
            <div class="col-lg-6 col-xs-12 about-company">
              <h4>About Us</h4>
              <p class="pr-5 text-white-50">We have no doubt that NFT rewards will be used in all sports competitions very soon. But currently we're the only ones doing it. You can own NFT, boast about them to your friends. Or you can sell them to collectors and buy for yourself a new pair of running shoes. Moreover, the first NFT rewards will be valued higher.</p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
              <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                <ul class="m-0 p-0">
                  <li>- <a href="/#">Home</a></li>
                  <li>- <a href="/how_to_use">How to Use</a></li>
                  <li>- <a href="/rules">Participation Rules</a></li>
                  <li>- <a href="/races">All Races</a></li>
                  <li>- <a href="/faq">FAQ</a></li>
                  <li>- <a href="/principles">Terms of service (Terms of Use)</a></li>
                  <!-- <li>- <a href="/gdpr">GDPR (Do Not Sell My Personal Information)</a></li> -->
                  <li>- <a href="/privacy_olicy">Privacy Policy (Notice)</a></li>
                  <!-- <li>- <a href="/disclaimer">Legal &amp; Disclaimer</a></li> -->
                </ul>
            </div>
            <div class="col-lg-3 col-xs-12 location">
              <h4 class="mt-lg-0 mt-sm-4">Smart-contract</h4>
              <p><a href="https://polygonscan.com/address/0xA77Bbde7ec67fb57A900Db6C35adc474f0126E54" target="_blank">0xA77Bbd...126E54</a></p>
              <!-- https://www.oklink.com/ru/eth/address/0xA77Bbde7ec67fb57A900Db6C35adc474f0126E54 -->
            </div>
          </div>
          <div class="row mt-5">
            <div class="col copyright">
              <p class=""><small class="text-white-50">Made in <a href="https://garageno9.site">Garage no9</a> © 2025. All Rights Reserved.</small></p>
            </div>
          </div>
        <!-- </div> -->
    <!-- </div> -->
</div>
