    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0BNYF0ELCT"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0BNYF0ELCT');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Virtual Races all over the world. NFT Trophy.">
    <link rel="apple-touch-icon" href="/favicon/logo192.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="preload" href="/assets/fonts/montserrat/static/Montserrat-Regular.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/assets/fonts/sourcesanspro/SourceSansPro-Regular.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="/assets/fonts/sourcesanspro/SourceSansPro-Light.otf" as="font" type="font/otf" crossorigin>
    <title>Race Trophies</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/checkbox.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- wallet -->
    <script src="https://cdn.jsdelivr.net/npm/ethers@6.13.1/dist/ethers.umd.min.js"></script>
    <style>
        button {
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            }

            button:hover {
            background-color: #0056b3;
            }
    </style>
