node_modules
public/images
public/dist/
private_uploads
.env
pnpm-lock.yaml
package-lock.json
yarn.lock

artefacts.md
racetrophies.JTBD.md

public/scripts.js
wallet*.ejs
!wallet5.ejs
!wallet4.ejs
!wallet3.ejs
!wallet2.ejs
!wallet.ejs
!wallet9.ejs
!wallet10.ejs
!wallet11.ejs