<!DOCTYPE html>
<html lang="en">
<head>
  <h1>Подключение Криптокошелька</h1>
  <button id="connectButton" class="btn btn-primary">Connect your wallet</button>
  <div id="status">
    <p>Статус: <span id="connectionStatus">Не подключено</span></p>
    <p>Аккаунт: <span id="account">-</span></p>
    <p>Сеть: <span id="chain">-</span></p>
  </div>

  <script src="/dist/bundle.js"></script>
</body>

</html>