<html>
<head>
    <!--  Rainbow пока нет -->
</head>
<body>
    <ConnectButton></ConnectButton>
    <w3m-button></w3m-button>
    <!-- <button type="button" data-testid="rk-connect-button">Connect Wallet</button> -->
    <div id="address"></div>
    <div id="btn"></div>
    <div id="info"></div>
    <script type="module">
        // const connect_button = document.createElement("ConnectButton");
        // document.getElementById("btn").outerHTML = connect_button.outerHTML;
        import { RainbowKitProvider, ConnectButton, getDefaultConfig } from "https://esm.sh/@rainbow-me/rainbowkit@2.1.4";
        import { coinbaseWallet } from "https://esm.sh/@rainbow-me/rainbowkit@2.1.4/wallets";
        import { arbitrum, base, mainnet, optimism, polygon } from "https://esm.sh/@wagmi/chains@1.8.0";
        import { reconnect, disconnect, getAccount, getEnsName, switchChain } from "https://esm.sh/@wagmi/core@2.13.4?exports=reconnect,disconnect,getAccount,getEnsName,switchChain"
        import { createWeb3Modal, defaultWagmiConfig } from "https://esm.sh/@web3modal/wagmi@5.0.11/?bundle"
        
          
        // Enable Coinbase Smart Wallet for testing
        coinbaseWallet.preference = "smartWalletOnly";

        export const config = getDefaultConfig({
            appName: 'R2M Example',
            projectId: '64fdce6d87f6cfcc448d686b57d8d096',
            chains: [mainnet, polygon, optimism, arbitrum, base],
            wallets: [
                {
                groupName: "Popular",
                wallets: [coinbaseWallet],
                },
            ],
            // ssr: true,
        });

        reconnect(config);

        const modal = createWeb3Modal({
            wagmiConfig: config,
            projectId: '64fdce6d87f6cfcc448d686b57d8d096',
            // chains: chains,             // +
            // defaultChain: polygon       // +
        });

        function connect() {
            console.log("connect")
            modal.open();
        }

        connect()
      </script>
</body>
</html>